{% load static %} 
{% include 'header.html' %}
<body style="background-color: #ffffff">
    <!-- Navbar -->
    

    <!-- main -->
    <br />
    <br />
    <div class="row m-5 align-items-center">
      <div class="col-md-7 p-5 ">
        <h1 class="text-warning" data-aos="fade-right" data-aos-delay="400">About us</h1>
        <p data-aos="fade-up" data-aos-delay="600">Welcome to our restaurant, where every dish is a masterpiece and every experience is a delight. Our team of talented chefs and dedicated staff work tirelessly to bring you the best of our cuisine, prepared to perfection with only the freshest and highest-quality ingredients.
          <br>

          
      </p>
      </div>
      <div class="col-md-3 shadow float-end " id="float"data-aos="fade-left" data-aos-delay="800" >
        <img src="https://i.pinimg.com/564x/4a/59/c1/4a59c14323d70648939b9970f125f646.jpg" alt="Floating Image" style="width: 440px;"/>
      </div>
    </div>

    <div class="container ">
      <div class="col-md-12 mt-5 ">
        <div class="row">
          <section class="page-section about-heading">
            <div class="container">
              <div class="imgBox float-start" data-aos="fade-right" data-aos-delay="1000">
                <img
                  id="float"
                  class="img-fluid rounded about-heading-img mb-3 mb-lg-0 float-start"
                  src="https://i.pinimg.com/564x/22/12/c0/2212c00bae72b16b5fb87b2bdccd8dc3.jpg" height="440px"
                  alt="..." 
                />
              </div>
              <div class="about-heading-content">
                <div class="row">
                  <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5"data-aos="fade-left" data-aos-delay="1200">
                      <h2 class="section-heading mb-4">
                        <span
                          class="section-heading-upper text-center text-decoration"
                          >Our Mission</span
                        >
                      </h2>
                      <p class="text-warning">
                        Founded in 1987 by the Hernandez brothers, our
                        establishment has been serving up rich coffee sourced
                        from artisan farmers in various regions of South and
                        Central America. We are dedicated to travelling the
                        world, finding the best coffee, and bringing back to you
                        here in our cafe.
                      </p>
                      <p class="mb-0 text-warning">
                        We guarantee that you will fall in
                        <em>lust</em>
                        with our decadent blends the moment you walk inside
                        until you finish your last sip. Join us for your daily
                        routine, an outing with friends, or simply just to enjoy
                        some alone time.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="imgBox float-end"data-aos="fade-left" data-aos-delay="1400">
                <img
                  id="float"
                  class="img-fluid rounded about-heading-img mb-3 mb-lg-0" height="440px"
                  
                  src="https://i.pinimg.com/564x/23/5b/42/235b42be787e2891d4b8df38a16822d8.jpg"
                  alt="..."
                />
              </div>
              <div class="about-heading-content">
                <div class="row">
                  <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5"data-aos="fade-right" data-aos-delay="1600">
                      <h2 class="section-heading mb-4">
                        <span class="section-heading-upper text-center"
                          >Our Vision</span
                        >
                      </h2>
                      <p class="text-warning">
                        At our restaurant, we believe that dining is not just about eating, but about experiencing. That's why we've created a welcoming ambiance that reflects our passion for great food and impeccable service. Whether you're looking for a romantic dinner, a family gathering, or a business lunch, we have the perfect setting for you. Our menu is a celebration of global flavors, with dishes that range from traditional favorites to innovative creations. And with our commitment to using sustainable and locally sourced ingredients, you can enjoy your meal with a clear conscience. So why wait? Come and discover the magic of our restaurant today!
                      </p>
                      <p class="mb-0 text-warning">
                        We guarantee that you will fall in
                        <em>lust</em>
                        with our decadent blends the moment you walk inside
                        until you finish your last sip. Join us for your daily
                        routine, an outing with friends, or simply just to enjoy
                        some alone time.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    
  
    
    <script>
      AOS.init();
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
{% include 'footer.html' %}