{% load static %} 
<!-- footer -->
<div class="row  " data-aos="fade-up" data-aos-delay="1300">
    <footer class=" text-black pt-5 pb-4 " style="background-color: rgb(0, 0, 0);"  >
      <div class="container text-white text-center text-md-left">
        <div class="row text-center text-md-left">
  
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <a
        class="navbar-brand  text-warning" href="/menu"
        style="font-family: cursive ,font-ans-serif; "
        > <img src="{% static 'images/ll.png'%}" alt="" width="60" height="50"> <strong>I'<span>m</span> Foodie</strong></a
      >
            <!-- <h5 class="text-uppercase mb-4 font-weight-bold text-light">About Us</h5> -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Restro ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Products</h5>
            <p>
              <a href="/about" class="text-white" style="text-decoration: none;"> TheProviders</a>
            </p>
            <p>
              <a href="/about" class="text-white" style="text-decoration: none;"> Creativity</a>
            </p>
            <p>
              <a href="#" class="text-white" style="text-decoration: none;"> Offeres</a>
            </p>
            <p>
              <a href="#" class="text-white" style="text-decoration: none;"> bootstrap 5 alpha</a>
            </p>
          </div>
  
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful links</h5>
            <p>
              <a href="/menu" class="text-white" style="text-decoration: none;">Menu</a>
            </p>
            <p>
              <a href="/contact" class="text-white" style="text-decoration: none;"> Contact us</a>
            </p>
            <p>
              <a href="#" class="text-white" style="text-decoration: none;"> Shipping Rates</a>
            </p>
            <p>
              <a href="/contact" class="text-white" style="text-decoration: none;"> Help</a>
            </p>
          </div>
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
            <p>
              <i class="fas fa-home mr-3"></i>A108 Kalewadi Street,Near-Minimarket Store, Pune-411017 India
            </p>
            <p>
              <i class="fas fa-envelope mr-3"></i> info@gmail.com
            </p>
            <p>
              <i class="fas fa-phone mr-3"></i> +91 9511779452
            </p>
            <p>
              <i class="fas fa-print mr-3"></i> +91 8805414423
            </p>
          </div>
  
        </div>
  
        <hr class="mb-4">
  
        <div class="row align-items-center">
          <div class="col-md-7 col-lg-8">
            <p class="text-center text-md-left">© 2023 Copyright:
              <a href="#" class="text-white">
                <strong class="text-warning">The I,am Foodie.com</strong>
              </a>
            </p>
          </div>
  
          <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-right">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="/static/images/linkedin.png"  class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
          
  
        </div>
      </div>
    </footer>
   </div>
  
  </body>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
      <script>
          AOS.init();

          
      </script>
  </html>