{% load static %} 
{% include 'header.html' %}

<!-- main -->
<main style="background-color: #ffffff; background-image: url(/static/images/d.jpg); background-repeat: no-repeat; background-size:cover; ">
        
    <div class="container p-5 bg-img" >
        <div class="row" data-aos="flip-left" data-aos-delay="200" height="400px" >
            
                <div class="col-md-5  mx-auto  shadow p-5" style="border: 4px #070707; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.658) 0%, rgba(245, 198, 69, 0.705) 100%);">
                    <img src="/static/images/menu.jpg" alt="" style="height: 600px; width: 100%;" >
                    
                   
                </div>
                <!-- <div class="col-md-3 mt-5 "  >
                    <img src="/static/images/land.jpg" alt="" style="height: 500px; width: 600px;" >

                </div> -->
                
                
           
        </div>
    </div>

</main>
{% include 'footer.html' %}